.icon-success {
  color: #5CB85C;
}

// text
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center
}

// padding
.pad1l {
  padding-left: 10px;
}

.pad1r {
  padding-right: 10px;
}

.space-bottom0 {
  margin-bottom: 0px;
}

.space-bottom1 {
  margin-bottom: 10px;
}

.space-left0 {
  margin-left: 0px;
}

.space-left1 {
  margin-left: 10px;
}
